{% extends 'base.html' %}

{% block title %}
wall
{% endblock %}

{% block ground %}
<body style="background: url(
https://images.wallpaperscraft.ru/image/kamni_galka_gravij_127218_1920x1080.jpg
); background-size: 100%;">
{% endblock %}



{% block body %}
    <h1  style="color:white" class = "container">press and learn</h1>

{% block user_login %}{{login}}{% endblock %}

<div class ="container">
     <form action="{{ url_for('index')  }}" method="post">
        {% for el in mas %}
             <input  type='submit' class="btn" style="background:wheat; margin: 10px 10px 10px 10px;border-radius: 50%; height: 60px;" name="refer" value="{{el}}" />
         {% endfor %}
    </form>
</div>
{% endblock %}
